.list{
    list-style: none;
    display: flex;
    justify-content: center;
}
.linkList{
        text-decoration: none;
        display: inline-block;
        padding: 10px 15px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color:black;
        font-size: 24px;
}
.linkList.active {
    font-weight: bold;
}